

<%- include ("./parts/head.ejs") %>

<body>
  <%- include ("./parts/nav.ejs") %>
  <%- include ("./parts/menu.ejs")%>
  <div id="item-2">

    <%- include ("./parts/edita.ejs")%>


  </div>
  <%- include ("./parts/rodape.ejs") %>


  <%- include ("./parts/logo.ejs") %>  


</body>

</html>