<%- include ("./parts/head.ejs") %>

<body>
  <%- include ("./parts/nav.ejs") %>
  <%- include ("./parts/menu.ejs")%>
  <div id="item-2">

    <%- include ("./parts/verifcadastro.ejs")%>

      

  </div>
  <%- include ("./parts/rodape.ejs") %>


  <div id="item-4">
    <img src="./img/logo.png" alt="">
  </div>
  </div>

</body>

</html>